body
	background-color: #fff
	font-family: 'Source Sans Pro', sans-serif
	font-size: 16px

button
	background: #4ea7ec
	border: none
	color: #fff
	padding: .5em 2em
	font-size: 1.4em

.vh100
	height: 100vh

	
.main
	background: #333
	color: #fff
	padding: 40px 60px 60px

.main_title
	margin-bottom: 2em
	span
		font-size: 15px
		font-weight: 500

h1
	font-weight: 900
	font-size: 25px
	margin-bottom: 1em

nav
	height: 100%
	display: flex
	align-items: flex-start
	padding-top: 150px
	width: calc(100% + 30px)
	position: relative
	ul
		list-style: none
		padding: 0
		//position: fixed
		width: 100%

		li
			line-height: 3em
			position: relative

			&.active
				font-weight: 900
				&:after
					content: ""
					position: absolute
					right: 0
					top: 50%
					border: 12px solid transparent
					border-top: 12px solid #333
					transform: rotate(90deg)
					margin-top: -12px
				a
					border-bottom: 2px solid #187ECF


			a
				color: #000
				padding-bottom: .2em
				position: relative
				&:hover
					color: #000
					text-decoration: none
					border-bottom: 2px solid #187ECF


.communication
	background-image: url(../img/dot_fon.svg)
	background-repeat: repeat-y
	background-position: center top
	background-size: cover
	min-height: 445px
	&.startCommunication
		display: flex
		align-items: center
		justify-content: center


.item-chat
	display: flex
	align-items: flex-end
	margin-top: 29px

	&.bot
		justify-content: flex-start

	&.user
		justify-content: flex-end

.avatar
	width: 48px
	height: 48px
	background: #fff
	border-radius: 50%
	margin-bottom: -36px

	&.avatar-bot
		margin-right: 30px

	&.avatar-user
		margin-left: 30px

	a
		display: block
		padding: 5px
		width: 100%
		height: 100%
		text-align: center

		img
			position: relative
			height: 100%
			
.message
	width: 244px
	font-weight: 500
	font-size: 12px
	padding: 6px 26px 7px 16px
	border-radius: 15px
	position: relative

	.processing
		position: absolute
		left: 255px
		display: flex
		top: 0
		width: 299px

		.processing_dot
			display: flex

			span
				width: 5px
				height: 5px
				margin-right: 20px
				background: #fff
				border-radius: 50%

				&.checked_span
					background: #5f5f5f
					position: relative
					width: 13px
					height: 13px
					left: -1px
					top: -4px
					box-shadow: inset 0 0 0 4px #fff
					z-index: 1
					transform-style: preserve-3d;

					&::after
						width: 27px
						height: 27px
						background: rgba(255, 255, 255, .5)
						position: absolute
						z-index: -1
						left: -7px
						top: -7px
						content: ""
						border-radius: 50%
						transform: translateZ(-1px)
						box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.17)

					//&:after
					//	width: 23px
					//	height: 23px
					//	background: #ccc
					//	position: absolute
					//	z-index: 1
					//	opacity: 0.8
					//	left: -4px
					//	top: -4px
					//	content: ""
					//	border-radius: 50%
					//	box-shadow: 0 0 12px #fff
					//	opacity: .3

		.text_processing
			font-family: 'Jura', sans-serif
			font-size: 12px
			display: flex
			flex-direction: column
			margin-top: -26px


	.text_message
		min-height: 30px
		display: flex
		align-items: center

	&.message-bot
		background: #f0f0f0
		color: #000

		.triangle
			position: absolute
			left: 0
			bottom: 0
			width: 10px
			height: 10px
			transform: rotate(45deg)

			&:after
				content: ""
				position: absolute
				//background: #000
				left: -4px
				bottom: -17px
				border: 9px solid transparent
				border-top: 16px solid #f0f0f0

	&.message-user
		background: linear-gradient(to bottom, #187ECF 0%,#4EA7EC 99%)
		color: #fff

		.triangle
			position: absolute
			right: 0
			bottom: 0
			width: 10px
			height: 10px
			transform: rotate(-45deg)

			&:after
				content: ""
				position: absolute
				//background: #000
				left: -4px
				bottom: -17px
				border: 9px solid transparent
				border-top: 16px solid #4EA7EC


@media screen and (max-width: 991px)

	body
		background: #333

	body.vh100
		height: auto

	.main
		padding: 0
		&.vh100
			height: auto

	nav
		margin-top: 0
		background: #333
		width: 100%

		&.nav
			padding: 1em 0
			display: block
			width: 100%

		ul
			white-space: nowrap
			overflow-x: hidden;
			overflow-y: hidden;
			li
				display: inline-block
				margin-left: 0
				margin-right: 1em
				a
					color: #fff
					&:hover
						color: #fff

	nav ul li.active:after
		display: none

	.communication
		background: none

@media screen and (max-width: 767px)
	.avatar
		margin-bottom: -15px

	.container
		width: 100%
		padding-right: 15px
		padding-left: 15px
		margin-right: auto
		margin-left: auto
		.row
			margin: 0

	.avatar.avatar-bot
		margin-right: 15px
	.avatar.avatar-user
		margin-left: 15px
	.avatar
		width: 42px
		height: 42px

